### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


### Linux ###
*~
.directory


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


### Java ###
*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.rar
hs_err_pid*


### Eclipse ###
.prol	
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse


### Intellij ###
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
